.#*
.DS_Store
.bundle
.byebug_history
.dockerignore
.env
.pry_history
.ruby-version
.rvmrc
.sass-cache
.tddium*
.vagrant
.yardoc/*
Capfile
Dockerfile
Dockerfile.deps
Guardfile
README.md
Vagrantfile
circle.yml
coverage
doc
log/*
nbproject
tmp/*
tmp/**/*
vendor/bundle
